
$ff_default: 'Segoe UI', 'Open Sans', Tahoma, Arial, sans-serif;
$ff_arial: Arial, Tahoma, ​sans-serif;
$ff_heading: 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
$ff_code: Consolas, Menlo, Courier, monospace; // 'Lucida Console'

$body_background: #F7F8FA;
$header_height: 70px;


